* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 320px),
(min-height:812px) {


    .backgroundColor {
        background-color: white;
    }


    .wrapper {
        width: 20rem;
        margin: 0, 0;
    }

    .wrapperImg {
        background-image: url("../img/Logos/BeeDalyElectric-Logo-6.png");
        background-position: center;
        background-repeat: no-repeat;
        object-fit: contain;
        width: 20rem;
        height: 12.6875rem;
        background-size: contain;
        border-radius: 0.938rem;
        margin: 0.438rem;
    }


    .navbar {
        max-width: 20rem;
        max-height: 6.25rem;
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
        padding: 0.313rem;
    }



    .navbar>div>a {
        text-decoration: none;
        color: #F6BD46;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .navbar>div>a:hover {
        background-image: linear-gradient(to right,
                #54b3d6,
                #54b3d6 50%,
                lightgray 50%);
        background-size: 200% 100%;
        background-position: -100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
        color: #808080;
        margin-bottom: .5rem;
        font-size: large;
    }


    .img-info {
        margin: 0;
    }

    .img-info>h3 {
        width: 17.6rem;
        text-align: center;
        color: rgb(48, 48, 48);
        height: 5.075rem;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 1.125rem;
        margin-right: 1.125rem;
        font-size: x-large;
    }

    .img-info>p {
        color: #808080;
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .flexBoxWrapper {
        display: flex;
        width: 20rem;
        align-items: center;
    }

    .flexBoxWrapper>h5 {
        color: #F6BD46;
        margin: .5rem;
        font-size: larger;
        font-family: Roboto;

    }

    .lines {
        width: 1.25rem;
        height: 0.156rem;
        position: relative;
        background-color: #F6BD46;
        margin-left: 0.625rem;
    }

    .lines-2 {
        margin: 2rem;
        width: 4rem;
        height: 0.438rem;
        position: relative;
        background-color: #F6BD46;
        margin-left: 8rem;
        margin-right: 8rem;
        border: white solid 0.063rem;
        text-shadow: #808080;
    }



    .ElectricianImageWrapper {
        background-image: url("../img/Electricians/electrician-6.jpg");
        background-size: 20rem;
        height: 28.9275rem;
        background-position: top;
        background-repeat: no-repeat;
        background-color: #07122C;
        background-blend-mode: screen;
        align-items: baseline;
        border-radius: 0.313rem;
        border-top: #F6BD46 solid 0.625rem;
        border-bottom: #F6BD46 solid .5 rem;
    }

    .ElectricianImageWrapper>h1 {
        margin-top: 1rem;
        color: white;
        text-shadow: #808080 0.125rem 0.125rem 0.125rem;
        width: 20rem;
        font-size: 2.79125rem;
        font-family: Roboto;
        text-align: center;
    }

    .ElectricianImageWrapper>button {
        align-items: center;
        justify-content: center;
        width: 8rem;
        height: 3.04rem;
        margin-left: 6rem;
        margin-right: 6rem;
        font-size: large;
        border-radius: 0.313rem;
        background-color: #F6BD46;
        border: none;
    }

    .ElectricianImageWrapper>button>a {
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    .beeHivePic {
        background-image: url("../img/bees/beeHive-7.jpg");
        background-size: 20rem;
        width: 20rem;
        height: 20.30rem;
        align-items: center;
        justify-content: center;
        object-fit: scale-down;
        background-position: right top;
        background-repeat: no-repeat;
        background-color: rgb(116, 116, 116);
        background-blend-mode: screen;
        padding: 0.313rem;
        margin: 2rem .25rem;
        border-radius: 0.313rem;
    }

    .beeHivePic>h2 {
        text-align: center;
        width: 17.6rem;
        height: 5.075rem;
        color: #808080;
        font-family: Roboto;
        margin: 4.500rem 1.125rem;
        text-shadow: #000000 .063rem .063rem .063rem;
        padding: 0.125rem;
    }

    .beeHivePic>button {
        border-radius: 0.688rem;
        ;
        background-color: #F6BD46;
        height: 2.5rem;
        width: 8rem;
        font-size: medium;
        margin-right: 5.5rem;
        margin-left: 5.5rem;
        border: none;
    }

    .beeHivePic>button:hover {
        font-size: larger;
    }

    .beeHivePic>button>a {
        color: white;

    }

    .beeHivePic>button>a:hover {
        color: aquamarine;
    }

    .AboutChristopher>p {
        color: #808080;
        font-size: larger;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .ChristopherPicture {
        background-image: url("../img/Electricians/electrician-1.jpg");
        background-size: 20rem;
        width: 8rem;
        height: 10.15rem;
        background-position: right top;
        background-repeat: no-repeat;
        padding: 0.313rem;
        margin-left: 6rem;
        margin-right: 6rem;
        border-radius: 0.313rem;
        background-color: rgb(116, 116, 116);
        background-blend-mode: screen;

    }



    .chooseFrom>h2 {
        text-align: center;
        align-items: center;
        justify-content: center;
        max-width: 19rem;
        color: #07122C;
        font-size: 1.47175rem;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2.5375rem;
        margin-bottom: 2.5375rem;
    }

    .electrical {
        margin: 1rem;
    }

    .electrical-img {
        background-image: url("../img/Electricians/electrician-3.jpg");
        background-size: 20rem;
        width: 12rem;
        height: 9rem;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #07122C;
        background-blend-mode: screen;
        align-items: baseline;
        justify-content: center;
        border-radius: 0.313rem;
        margin-top: 1.25rem;
        margin-left: 4rem;
        margin-right: 4rem;

    }

    .electrical>h3 {
        color: #07122C;
        text-align: center;
    }

    .electrical>p {
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        color: #808080;
    }

    .electrical>button {
        background-color: #F6BD46;
        margin-left: 7rem;
        margin-right: 7rem;
        width: 4rem;
        height: 1.5225rem;
        border-radius: 0.313rem;
        border: none;
    }

    .electrical>button>a {
        color: white;
    }

    .EvCharging-img {
        background-image: url("../img/tesla_evChargers/EV-charger-smallWhiteCar.jpg");
        background-size: 20rem;
        width: 12rem;
        height: 10.15rem;
        background-position: center;
        background-repeat: no-repeat;
        align-items: baseline;
        justify-content: center;
        border-radius: 0.313rem;
        margin-top: 1.25;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .EvCharging>h3 {
        color: #07122C;
        text-align: center;
    }

    .EvCharging>p {
        color: #808080;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .EvCharging>button {
        background-color: #F6BD46;
        margin-left: 8rem;
        margin-right: 8rem;
        width: 4rem;
        height: 3vh;
        border-radius: 5px;
        border: none;
    }

    .EvCharging>button>a {
        color: white;
    }


    .footer {
        text-align: center;
        padding: 1rem;
        margin-top: .25rem;
        border-top: #aaaaaa solid .75rem;
        background-color: #F6BD46;
        border-radius: 0.5rem;
    }

    .footer>p {
        text-align: center;
        color: white;
        font-size: .761rem;
    }

    .socialMedia-icons {
        display: flex;
        width: 4rem;
        margin: 1rem 7rem;
        border-radius: .313rem;
        justify-content: space-evenly;
    }

    .uil-facebook {
        margin: .313rem;
        color: white;
        font-size: 1.5225rem;
    }

    .uil-facebook:hover {
        font-size: 2rem;
    }

    .uil-instagram {
        margin: .313rem;
        color: white;
        font-size: 1.5225rem;
    }

    .uil-instagram:hover {
        font-size: 2rem;
    }

    .uil-linkedin-alt {
        margin: .313rem;
        color: white;
        font-size: 1.5225rem;
    }

    .uil-linkedin-alt:hover {
        font-size: 2rem;
    }

    .uil-estate,
    .uil-building {
        padding: 2rem;
        width: 16rem;
        height: 25.375rem;
        font-size: 4rem;
        color: #F6BD46;
    }

    .uil-estate:hover,
    .uil-building:hover {
        font-size: 5rem;
        background-image: linear-gradient(to right,
                #54b3d6,
                #54b3d6 50%,
                lightgray 50%);
        background-size: 200% 100%;
        background-position: -100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
        margin-bottom: .5rem;
    }

    .icon-wrapper {
        border: #F6BD46 solid .063rem;
        border-radius: 0.313rem;
        margin: 0.938rem;
        padding: 5rem;
    }

    .icon-wrapper:hover {
        border: #54b3d6 solid 1px;
    }

    .icon-wrapper>h3 {
        margin-left: 1.51rem;
        margin-right: 1rem;
        color: #808080;
    }

    .residential-detail {
        width: 20rem;
        background-color: #F8F9FA;
        margin: .25rem;
    }

    .residential-detail>h1 {
        color: #07122C;
        text-align: center;
        margin-bottom: .25rem;
    }

    .residential-detail>p {
        color: #808080;
        font-size: larger;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .residential-detail>i, .residential-detail>i:hover {
        font-size: 10rem;
        color: #808080;
        margin-left: 3rem;
        margin-right: 3rem;
    }

.all-icons-wrapper{
    display: flex;
}

.all-icons-wrapper>*{
    flex: 1 1 100%;
}
}

/* <============== Screen---> 640px  =============> */
@media only screen and (min-width: 640px) {}

/* <======= Screen 750px ======> */
@media only screen and (min-width: 750px) {}